<html>

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommendation System</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/style.css">
</head>

<body id="content">
    <div class="bg">
    <img
    class="demo-bg"
    src="../static/bg.jpg"
    alt=""
    >
</div>
	<header>
		<div class="container">
			<h1 class="heading">Recommendation System for Books</h1>
            <h2 class="small-heading">Mini Project 2021</h2>

		</div>
	</header>
	<textarea id="booklist" name="booklist_review" rows="25" cols="55">   
   {% for line in content %}
      {{ line }}
   {% endfor %}
</textarea>
	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
            <table>
                <tr>
			<p class=book_name>Write your Book Name!</p>
        </tr>
        <tr>
			<div class="bookname"><input type="text" name="message" id="bookname1" placeholder="Write Here......"></div>
        </tr>
			<br />
            <tr>

			<input type="submit" class="btn-info" value="Predict">
        </tr>
			<br>
			<br>
			<div class=output>
				<br>
				{{ prediction_text }}
				<br>
				<br>
				{{ prediction_text1 }}
				<br>
				{{ prediction_text2 }}
				<br>
				{{ prediction_text3 }}
				<br>
				{{ prediction_text4 }}
				<br>
				{{ prediction_text5 }}
			</div>
            </table>
		</form>
		
	</div>

	<section class="creator">
		<h3>~ Created By ~</h3>
		<p>Name :- Rishav Gupta</p>
		<p>Email :- rishavkumar79@gmail.com</p>
		<p>GitHub :- <a href="https://github.com/rkg0811">rkg0811</a></p>
	</section>

	<footer class="ft">
        <p>Copyright  &copy; -www.book-recommender.com</p>
    </footer>

	
</body>

</html>